# =========================
# ANDROID / ANDROID STUDIO
# =========================

# Gradle (caches y outputs)
.gradle/
**/build/

# Local configuration (SDK/NDK paths, machine-specific)
local.properties

# Logs
*.log

# Android Studio / IntelliJ (IDE config)
.idea/
*.iml
*.iws
*.ipr

# Native / CMake builds
.cxx/
.externalNativeBuild/

# Android generated outputs
captures/
*.apk
*.aab
*.dex

# =========================
# KOTLIN / JVM
# =========================

*.class

# JVM crash logs
hs_err_pid*
replay_pid*

# =========================
# NODE / JS (solo si usas Node)
# =========================
node_modules/

# =========================
# OS / SYSTEM FILES
# =========================

.DS_Store
Thumbs.db
